body {
	margin: 0;
	padding: 0;
	background-color: black;
	background-image: url("../images/connectwork.png");
	background-repeat: no-repeat;
	background-size: cover;
    height: 100%; 
    color: white;
}

.gameCont {
    margin: 20px 100px;
}

.theDome {
    font-family: "Times New Roman", Times, serif;
    font-weight: bold;
    color: purple;
	font-size: 75px;
	padding: 10px 0px 0px 0px;
}

.dirCont {
    width: 400px;
	background-color: purple;
	color: #DDCEEE;
	padding: 10px;
	margin-top: 20px;
	margin-bottom: 10px;
}

.dirHead {
    font-family: "Times New Roman", Times, serif;
    padding: 10px;
    font-size: 35px;
}

.directions {
    font-family: "Times New Roman", Times, serif;
    padding: 15px;
}

.numberCont {
    width: 150px;
	height: 70px;
	background-color: purple;
	margin-bottom: 10px;
	font-size: 25px;
	text-align: center;
	padding-top: 20px;
	float: left;
}

.scoreCard {
    width: 150px;
	height: 70px;
    background-color: purple;
    font-size: 25px;
	margin-left: 160px;
	padding-top: 6px;
	padding-left: 10px;
}

img {
    width: 300px;
    margin-right: 6px;
}

#buttonCont {
    clear: both;
}

#userScore {
    width: 150px;
    background-color: purple;
    height: 70px;
    font-size: 35px;
    text-align: center;
    padding-top: 20px;
}

#totScore {
    width: 150px;
    background-color: purple;
    margin: 10px 0px;
    padding: 5px 0px 5px 5px;
}
